<div class="author-form">
  <h3 class="title">{{$ctrl.title}}</h3>
  <form>
    <div class="field-form">
      First name:
      <input type="text" ng-model="author.firstName" placeholder="Hanbiro" />
    </div>
    <div class="field-form">
      Last name:<input
        type="text"
        ng-model="author.lastName"
        placeholder="Nguyen"
      />
    </div>
    <div class="field-form">
      ID:<input type="text" ng-model="author.id" placeholder="25" />
    </div>
    <button ng-click="$ctrl.submit(author)">Submit</button>
    <button ng-click="$ctrl.cancel()">Cancel</button>
  </form>
  <br />
</div>
